*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
}
.container-fluid{
    background-color: pink;
}
#container-fluid-responsive{
    background-color: rgb(255, 42, 134);
}
@media screen and (max-width: 768px){
    .col{
        flex: none;
    }
}