.container{
    border: 5px solid blue;
}
.box-1{
    min-height: 250px;
    background: yellow;
}
.box-2{
    min-height: 250px;
    background: rgb(215, 56, 135);
}
.box-3{
    min-height: 250px;
    background: rgb(162, 154, 215);
}
.box-4{
    min-height: 250px;
    background: rgb(70, 171, 196);
}
.box-5{
    min-height: 250px;
    background: rgb(52, 193, 75);
}
.box-6{
    min-height: 250px;
    background: rgb(223, 136, 142);
}
